<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar>
      <a routerLink="/">
        <button mat-icon-button>
          <mat-icon class="icon-logo"> water_drop </mat-icon>
        </button>
        <span class="text-logo">BloodChain</span>
      </a>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin/dashboard">Manage Donations</a>
      <a mat-list-item routerLink="/admin/manage-users">Manage Users</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <span>Admin Dashboard</span>
      <span class="big-spacer"></span>
      <button mat-stroked-button (click)="logout()">Log out</button>
    </mat-toolbar>

    <div class="content">
      <div class="search-container">
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" />
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="addUser()">
          Add User
        </button>
      </div>

      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        matSortDirection="desc"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.firstname }} {{ element.lastname }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>CIN</th>
          <td mat-cell *matCellDef="let element">{{ element.cin }}</td>
        </ng-container>

        <ng-container matColumnDef="highestAuthority">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Authority</th>
          <td mat-cell *matCellDef="let element">
            {{ element.roles[0].name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              color="warn"
              (click)="deleteUser(element.userId)"
              [disabled]="element.cin === currentUser"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [length]="dataSource.data.length"
        [pageSize]="13"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
