<app-navbar></app-navbar>

<div class="hero">
  <div class="left">
    <h1>Welcome to BloodChain</h1>
    <p>Your one-stop solution for blood donation management.</p>
    <button mat-raised-button color="accent" routerLink="/signup">
      Join Us
    </button>
  </div>
  <div class="right">
    <img src="assets/donation.png" />
  </div>
</div>

<section class="features">
  <h2>Our Key Features</h2>
  <div class="wrapper">
    <div class="feature">
      <h3>Easy Procedure</h3>
      <p>
        Our platform simplifies the blood donation process, making it easy and
        efficient for both donors and recipients.
      </p>
    </div>
    <div class="feature">
      <h3>Get Notified</h3>
      <p>Get notified when your donation is used to save a life.</p>
    </div>
    <div class="feature">
      <h3>Donation History</h3>
      <p>
        View a detailed log of your past donations, helping you keep track of
        your contributions.
      </p>
    </div>
  </div>
</section>

<footer>
  <p>&copy; 2024 BloodChain. All rights reserved.</p>
  <p>By <a href="https://saielhaqs.vercel.app">Saad Sai El Haq</a></p>
</footer>
