$primary-color: #ff004c;
$accent-color: #f11f4d;
$background-color: #fdfdfd;
$card-background: #ffffff;

mat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 100%;
  margin: auto;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $card-background;
}

mat-card-title {
  color: $primary-color;
}

mat-card-content {
  margin-top: 30px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.error {
  color: red;
  margin-top: 10px;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mdc-button.mat-mdc-button {
  border: 1px solid $primary-color;
  color: $primary-color;
}
