<h1 mat-dialog-title>Add User</h1>
<form [formGroup]="userAddForm">
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>CIN</mat-label>
      <input
        matInput
        formControlName="cin"
        required
        (input)="onInput($event)"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input
        matInput
        formControlName="firstname"
        required
        (input)="onInput($event)"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input
        matInput
        formControlName="lastname"
        required
        (input)="onInput($event)"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        required
        (input)="onInput($event)"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select Authority</mat-label>
      <mat-select formControlName="roles" multiple>
        <mat-option *ngFor="let authority of authorities" [value]="authority">
          {{ authority }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-stroked-button (click)="submit()">Submit</button>
    <button mat-stroked-button (click)="close()">Cancel</button>
  </div>
</form>
